$main-color: #FF700A;
$sec-color: #EAECEE;
$third-color: #778591;
$my-color: #CFCFCF;

////////////////////----------- MAT STTEPER ------------------//////////////////////
.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-step-header {
  overflow: hidden;
  outline: none;
  cursor: pointer;
  position: relative;
  box-sizing: content-box;
}

.mat-horizontal-stepper-header {
  display: block !important;
  height: auto !important;
  //overflow: hidden;
  //align-items: center;
  //padding: 0 24px;
  .mat-step-icon {
    margin: 10px auto !important;
  }

  .mat-step-icon-content {
    font-size: 20px !important;
    font-weight: 700 !important;
  }

  .mat-step-icon, .mat-step-icon-state-edit {
    background-color: $third-color !important;
    color: white;
    padding: 25px !important;
  }

  .mat-step-icon-selected {
    background-color: $main-color !important;
    color: white;
    padding: 25px !important;
  }

  .mat-step-text-label {
    margin-top: 15px !important;
    font-size: 18px !important;
    font-weight: 400 !important;
  }

}

////////////////////----------- END OF MAT STTEPER ------------------//////////////////////


////////////////////----------- MAT TAB ------------------//////////////////////

.mat-tab-label-active {
  background-color: $main-color !important;
  color: #fff !important;
}

#mat-tab-label-0-1 {
  border-left: 1px solid $my-color !important;
  border-right: 1px solid $my-color !important;
}

.mat-tab-label-container {
  .mat-tab-list {
    .mat-tab-labels {
      border: 1px solid $my-color !important;
      border-bottom: 1px solid $main-color !important;
    }

    .mat-tab-label {
      opacity: 1;
      color: #778591;
      padding: 2rem;
      font-weight: 400;
    }

    .mat-ink-bar {
      display: none !important;
      visibility: hidden !important;
      transition: none !important;
      height: 0px !important;
      width: 0px !important;
    }
  }
}

////////////////////----------- END OF MAT TAB ------------------//////////////////////
.my-mat-card {
  padding: 0px;
  box-shadow: 0px 18px 19px -20px rgba(0, 0, 0, 0.1);

  .my-mat-tab {
    border: 0.5px rgba($third-color, 0.2) solid !important;

  }
}

.no-arrows {
  .mat-select-arrow {
    color: transparent;
  }
}

#myMatTabGroupsMaps {
  .mat-tab-header {
    display: none;
  }

  .mat-tab-body-content {
    overflow: hidden;
  }

  .mat-tab-body-content, .mat-tab-body, .mat-tab-body-wrapper {
    //transition: none !important;
    //transform: none !important;
    animation-duration: 1ms !important;
  }
}

.select-cat-btn {
  padding: 16px 32px 16px 32px;
  text-transform: uppercase;
  border-radius: 90px;
  border: none;
  outline: none;
  background-color: $my-color;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;

  .mat-icon {
    font-size: 20px;
  }

  &:hover {
    transition: all 0.1s ease-in-out;
    background-color: #fff;
    color: $my-color;
    border: 1px $my-color solid;

  }
}

.select-car-btn {
  padding: 16px 32px 16px 32px;
  text-transform: uppercase;
  border-radius: 90px;
  border: 1px transparent solid;
  outline: none;
  background-color: $my-color;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  box-sizing: content-box;

  .mat-icon {
    font-size: 20px;
  }

  &:hover {
    transition: all 0.1s ease-in-out;
    background-color: #fff;
    color: $my-color;
    border: 1px $my-color solid;

  }
}

.activeSelectBTN {
  background-color: $main-color !important;
  color: #fff !important;
  border: 0px !important;

  .mat-icon {
    visibility: visible !important;
  }

  &:hover {
    background-color: $main-color !important;
    color: #fff;
    border: 0px !important;
    outline: none !important;
    transition: all 0s;
  }
}


.distance__card {
  box-shadow: 0px 18px 19px -20px rgba(0, 0, 0, 0.1) !important;

  .distance__card--header {
    height: 50px;
    overflow: hidden;
    background-color: #EAECEE;
    color: #778591;
    padding: 14px 21px 15px 21px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .form-control-custom {
    box-sizing: border-box;
  }


  .div-form-felid {
    display: inline-block;
    border: 0.5px rgba($third-color, 0.2) solid;
  }
}

.border__div {
  border: 0.5px rgba($third-color, 0.2) solid;
}

// end of distance__card--header


//end of distance__card


.div-form-felid {
  padding: 1rem;

  .mat-form-field {
    display: block !important;
    padding: 1rem;

    input[placeholder] {
      font-size: 1rem;
      font-weight: 500;
    }
  }

  .mat-form-field-wrapper {
    padding-bottom: 0px !important;
  }

}

.inputs-validators-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //border-bottom: 1px solid #EAECEE;

  #formFeildControls {
    width: 100% !important;
  }

  .inputs__controls {
    display: flex;
    justify-content: space-between;
  }
}

.add-btn-location {
  cursor: pointer;
  border: 0.5px rgba($third-color, 0.6) solid;
  display: flex !important;
  align-items: center;
  justify-content: center;
  padding: 15px;
  width: 15px;
  height: 15px;
}

.add-btn-location:hover {
  background-color: $main-color;
  transition: 0.2s all ease-in-out;
  color: #fff;
}

.stepNextButton {
  padding: 14px 24px 16px 32px;
  text-transform: uppercase;
  border-radius: 90px;
  border: none;
  outline: none;
  background-color: $main-color;
  color: #fff;
  font-size: 14px;
  float: right;
  text-decoration: none;
  align-items: center;
  display: flex;

  .mat-icon {
    align-self: center;
  }

  &:hover {
    transition: all 0.1s ease-in-out;
    background-color: #fff;
    color: $third-color;
    border: 1px $main-color solid;

  }

}

.google-map-infos {
  p {
    color: #778591;
    font-size: 12px;
    font-weight: 400;
  }

  span {
    color: #2C3E50;
    font-size: 26px;
    font-weight: 400;
  }

  .google-map-infos--time {
    .google-map-infos--time--details {

    }
  }

  .google-map-infos--distance {
    .google-map-infos--distance--details {

    }
  }
}


///////////////////////////////////////////////////////////////////////////////
.stepTwo {

  .summery__ride__details {
    padding: 1.2rem;
    background-color: #F6F6F6;

    .summary--header {
      font-weight: 700;
      line-height: 30px;
      font-size: 18px;
      color: #2C3E50;
      margin-bottom: 1rem;
    }

    .summary__filed {
      padding: 5px 0px;
      box-sizing: border-box;

      .summary__filed--name {
        color: #778591;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 16px;
      }

      .summary__filed--value {
        color: #2C3E50;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 15px;
        line-height: 24px;
      }
    }
  }

  .vehicle__summary--deatils {
    .summary__vehicle--name {
      font-weight: 400;
      line-height: 24px;
      font-size: 15px;
      color: #2C3E50;
    }
  }

  .total__pay {
    .total__pay--details {
      .total__pay--name {
        font-weight: 700;
        line-height: 30px;
        font-size: 18px;
        color: #2C3E50;

        .total__pay--name--span {
          font-weight: 400;
          line-height: 24px;
          font-size: 15px;
          color: #9EA8B2;
        }
      }
    }
  }

  //end of Summary BAR

  .choose__car {
    .choose__car--header {
      height: 50px;
      overflow: hidden;
      background-color: #EAECEE;
      color: #778591;
      padding: 14px 21px 15px 21px;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
    }

    .filter-cars-form {
      border: 0.5px solid rgba($third-color, 0.5);
      border-top: 0px;
      box-shadow: 0px 18px 19px -20px rgba(0, 0, 0, 0.1);

    }
  }

  .all__cars {


    .single__car {
      border-bottom: 1px solid #EAECEE;
      padding: 15px;
      color: #778591;

      .car--details {


        //.select-cat-btn {
        //  padding: 16px 32px 16px 32px;
        //  text-transform: uppercase;
        //  border-radius: 90px;
        //  border: none;
        //  outline: none;
        //  background-color: $my-color;
        //  color: #fff;
        //  font-size: 14px;
        //  text-decoration: none;
        //
        //  float: right;
        //
        //  &:hover {
        //    transition: all 0.1s ease-in-out;
        //    background-color: #fff;
        //    color: $my-color;
        //    border: 1px $my-color solid;
        //
        //  }
        //}

        .expantionBtn {
          padding: 15px;
          border-radius: 50%;
          border: 0.5px solid rgba($third-color, 0.5);
          outline: none;
          background-color: #fff;
          font-size: 14px;
          text-decoration: none;
          color: #778591;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          width: 25px;
          height: 25px;

          &:hover {
            background-color: #F6F6F6;
            transition: all 0.1s ease-in-out;
            border: 1px $third-color solid;

          }
        }

        .car__name {
          color: #2C3E50;
          font-size: 18px;
          font-weight: 700;
        }

        .car--cost {
          color: $main-color;
          line-height: 150%;

          .dollar--sign {
            font-size: 26px;

          }

          .main--number {
            font-size: 40px;
            position: relative;
            top: 13px;
          }

          .sec--number {
            font-size: 26px;

          }
        }

        .expantion--car--details {
          color: #666;
          line-height: 150%;
          font-size: 16px;
          font-weight: 300;
        }

        .mat-expansion-panel:not([class*='mat-elevation-z']) {
          box-shadow: none !important;
        }

        .car--details--table {
          background-color: #F6F6F6;

          hr {
            margin: 5px auto;
          }

          .car-infos-left {
            color: #778591;
            font-size: 12px;
            text-transform: uppercase;
          }

          .car-infos-right {
            color: #2C3E50;
            font-size: 15px;
            font-weight: 400;
          }
        }
      }


      //end of car details
      .car--details--bags--persons {
        color: $my-color;

        .mat-icon {
          font-size: 3rem !important;
        }

        span {
          border-radius: 50%;
          border: 1px solid $my-color;
          width: 30px;
          height: 30px;
          line-height: 28px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    //  END OF SINGLE CAR
  }


  .extra--options {
    .extra--options--header {

      display: flex;
      justify-content: flex-start;
      align-items: center;

      .shopping--cart--options {
        color: $main-color;
        border: 1px #EAECEE solid;
        border-radius: 50%;
        width: 56px;
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .mat-icon {
          font-size: 32px;
        }
      }

      h4 {
        color: #2C3E50;
        line-height: 37px;
        font-size: 26px;
        font-weight: 400;
        padding-left: 20px;
      }
    }

    .extra__options--content {
      .extra__options--single--content {
        border-top: 1px solid #EAECEE;
        border-bottom: 1px solid #EAECEE;
        box-sizing: border-box;

        .extra__options--infos {
          border-right: 1px solid #EAECEE;
          padding: 20px;

          .extra__options--infos--header {
            color: #2C3E50;
            font-size: 18px;
            font-weight: 700;
            line-height: 30px;
          }

          .extra__options--infos--cost {
            color: $main-color;
            font-size: 18px;
            font-weight: 700;
            line-height: 30px;

          }

          .extra__options--infos--details {
            color: #778591;
            font-size: 16px;
            font-weight: 300;
            line-height: 26px;
            display: block;
          }


        }
      }

      .extra__options--input {
        //border-left: 1px solid #EAECEE;
        //border-left: 1px solid #EAECEE;
        .mat-form-field {
          .mat-form-field-wrapper {
            padding-bottom: 0px !important;;
          }

          input {
            color: #2C3E50;
            font-size: 18px !important;
            font-weight: 700;

          }

          /* Chrome, Safari, Edge, Opera */
          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
          }

          /* Firefox */
          input[type=number] {
            -moz-appearance: textfield;
          }
        }
      }

      .extra__options--btn {
        border-left: 1px solid #EAECEE;
        padding: 20px;


      }
    }
  }

  .step-control-btns {
    .stepNextButton {
      padding: 14px 24px 16px 32px;
      text-transform: uppercase;
      border-radius: 90px;
      border: none;
      outline: none;
      background-color: $main-color;
      color: #fff;
      font-size: 14px;
      float: right;
      text-decoration: none;
      align-items: center;
      display: flex;

      .mat-icon {
        align-self: center;
      }

      &:hover {
        transition: all 0.1s ease-in-out;
        background-color: #fff;
        color: $third-color;
        border: 1px $main-color solid;

      }
    }


  }
}

.stepPrevBTN {
  padding: 16px 32px 16px 32px;
  text-transform: uppercase;
  border-radius: 90px;
  border: none;
  outline: none;
  background-color: $my-color;
  color: #fff;
  font-size: 14px;
  float: left;
  text-decoration: none;
  align-items: center;
  justify-content: space-between;
  display: flex;
  box-sizing: border-box;

  .mat-icon {
    align-self: center;
  }

  &:hover {
    transition: all 0.1s ease-in-out;
    background-color: #fff;
    color: $my-color;
    border: 1px $my-color solid;

  }
}

//end of STEP TWO


//////////////////////////////////////////////////////////////////////////////////
.stepThree {
  .summery__ride__details {
    padding: 1.2rem;
    background-color: #F6F6F6;

    .summary--header {
      font-weight: 700;
      line-height: 30px;
      font-size: 18px;
      color: #2C3E50;
      margin-bottom: 1rem;
    }

    .summary__filed {
      padding: 5px 0px;
      box-sizing: border-box;

      .summary__filed--name {
        color: #778591;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 16px;
      }

      .summary__filed--value {
        color: #2C3E50;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 15px;
        line-height: 24px;
      }
    }
  }

  .vehicle__summary--deatils {
    .summary__vehicle--name {
      font-weight: 400;
      line-height: 24px;
      font-size: 15px;
      color: #2C3E50;
    }
  }

  .total__pay {
    .total__pay--details {
      .total__pay--name {
        font-weight: 700;
        line-height: 30px;
        font-size: 18px;
        color: #2C3E50;

        .total__pay--name--span {
          font-weight: 400;
          line-height: 24px;
          font-size: 15px;
          color: #9EA8B2;
        }
      }
    }
  }

  //end of Summary BAR
  .contact__details {
    .contact__details--header {
      height: 50px;
      overflow: hidden;
      background-color: #EAECEE;
      color: #778591;
      padding: 14px 21px 15px 21px;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }

  .form-control-custom {
    box-sizing: border-box;
  }


  .div-form-felid {
    display: inline-block;
    border: 0.5px rgba($third-color, 0.2) solid;
  }

  .check-contact-billing {
    box-shadow: 0px 18px 19px -20px rgba(0, 0, 0, 0.1);

  }

  .mat-checkbox-inner-container {
    width: 30px;
    height: 30px;
  }

  .billing__options {
    h4 {
      font-size: 18px;
      font-weight: 700;
      line-height: 30px;
      text-align: center;
    }

    .billing__option--info {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30%;
      height: 130px;
      float: left;
      margin-left: 3.3333333333333333%;
      border: 1px solid $third-color;

      img {
        max-width: 200px;
        max-height: 125px;
      }

      .mat-icon {
        position: relative;
        top: 50%;
        right: 22%;
        background-color: $main-color;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        border-radius: 50%;
      }
    }

    .checkedBilling {
      border: 1px solid $main-color;

    }


  }


}

//end of STEP THREE
