// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$car-booking-system-primary: mat-palette($mat-amber);
$car-booking-system-accent: mat-palette($mat-lime, A200, A100, A400);

// The warn palette is optional (defaults to red).
$car-booking-system-warn: mat-palette($mat-amber);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$car-booking-system-theme: mat-light-theme((
  color: (
    primary: $car-booking-system-primary,
    accent: $car-booking-system-accent,
    warn: $car-booking-system-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($car-booking-system-theme);

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #EEEEEE;
}


///////////////////////////////////////////
